.container{
    display: flex;
   justify-content: space-around;
    

}

.menu{
   
   
}

.galeria{
    background-color: aqua;

   
}

.card1{
    border: solid 2px rgb(0, 255, 251);
    border-radius: 40px;
}
.titulo{
    text-align: center;
}
.containers{
    padding-top: 70px;
   
}
.descricao{
    text-align: center;
}
.card1 img{
    border-radius: 30px;
}

body{
    padding: 15px;
}

.barra-lateral {

    background-color: #0c73f9;
    color:white;
    width: 17%;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.30em;
   
    

}

 li {
    
    list-style-type: none;
    padding: 2% 5%;

}
.container.corpo {

    margin-left:40%;
    margin-top:-28%;
    padding-top:2%;
    width:60%;

}

.titulo{
    margin: 20px;
}

